body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
    margin-top: 10px;
}

header {
    display: flex;
    background-color: #fff;
    justify-content: flex-start;
    margin-bottom: 100px
}

header form {
    margin-left: 20px;
}

header button {
    background-color: #F5F5F7;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: #007bff;
}


.product-details {
    max-width: 600px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.add-to-cart-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}

.sold-out {
    color: red;
    font-weight: bold;
}
