body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #007bff;
    align-items: center;
    padding: 15px;
    height:80px;
}

header h1 {
    color: white;
    margin: 0;
    font-size: 30px;
    font-weight: normal;
}

.header-right {
    display: flex;
    gap: 10px;
    margin-right: 0;
}

header-form {
    display: inline-block;
    margin-left: 10px;
}

header button {
    background-color: #F5F5F7;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

header button:hover {
    background-color: #007bff;
}

h2, h3 {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
